.frist{
    
    background-color: gold;
    text-align: center;
    background-size: 20px;
    
}
.second{
    text-align: center;
    background-color: gold;
    color: white;
}
.thired{
    table{
        border: 1px solid color( red green blue);
        border-collapse: collapse;
    }
    background-color: green;
}
.fourth{
    
    background-color: rosybrown;
    
}
.fifth{
    text-align: center;
    background-color: green;
}
.sixeth{
    background-color: rosybrown;
}
body{
    width: 50%;
    height: 40%;
    margin-right: 25%;
    margin-left: 25%;
}
